<a href="https://colab.research.google.com/github/muhammadafnandood/AI-Python/blob/main/python%20class-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Muahammad Afnan")

Muahammad Afnan

# **PYTHON CODE**

In [ ]:
print("Hello World")
teachername=str("Sir Aneeq")
print(teachername)
marks:int=80
print(marks)

a = "rizwan"
print("Rizwan")

print("Hello World")
print("Hello World")
name: str = "Aneeq"
Age : int=25
is_active :bool=True
print(name)
name="Ameen"
#yahan main variable ko overrite kr rha houn

# Arthematic operators
# Assignment operators
# Logical operators
# comparision operators  ( boolian , or True / False)

# Arthemetic operators + , - , / , x
print(7+5)
print(10-5)
print(10/2)
print(5*2)

num1: int = 5
num2: int = 5
sum : int = num1+num2
print(sum)

sub: int = num1 - num2
print(sub)

div: int = num1 / num2
print(div)

mul: int = num1 * num2
print(mul)

print(8 ** 2)
# exponent print (8 ** 2) 8 ka square 8^2 = 8x8

print(10/2)
print(11/2)

#print(11 // 2) floor division


# print(11 % 2 )  11/2 = 1 lcm jo baki reh jaye
# print(11 % 2)  11 / 2 reminder / modulus

# Assignment operators wo operators houn gy jo kisi ko kuch sonp dain
x: int = 10
x = x + 5
print(x)
# variable ko overwrite bhi kr sakty hain , varible hamary pass value store krta hy.
# assignment operator hy =
x = x + 5
print(x)
# x ki value 10 or isko overwrite krna ho to x = 15 or 20 etc.
# x : int = 15
x = x + 5
print(x)
# x = x - 5
# 15 * 2 = 30
x: int = 15
x = x % 3
print(x)
# 3 Logical Operators
#
# Comparision Operators
 # == (equal)
 # >  (greator than)
 # <   (Less Than)
 # >=  ( grator or equal to)
 # <=  ( less than or equal to)
 # !=  ( not equal to)

# mera pehla operand/value  k braber hy
num1: int = 10
num2: int = 10
print(num1 == num2)
print(10 == 10)
print(num1 == num2)

num1: int = 10
num2: int = 20
print ( num1 > num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 != num2)

# logical operators
# and operator , on , not operators three types
num1: int = 12
num2: int = 14
print(10 == 10)
print(num1 != num2)
print(num1 <= num2)

num1: int =24
num2: int =18
print(num1-num2)
print(num1*num2)
print(num1+num2)
print(num1^num2)
print(num1%num2)
print(num1 // num2)

In [ ]:
print(True == 1)
print(False == 0)
print(True + False)
teachername :str="Sir Aneeq"
print(teachername)
allowed:bool=False
uname : str="Sir Sohaib"
uname="Abdullah"
print(uname)
allowed:bool=False
print(allowed)
allowed:bool=True
print(allowed)

True
True
1
Sir Aneeq
Abdullah
False
True

In [ ]:
# prompt: print(True == 1)
# print(False == 0)
# print(True + False)
# teachername :str="Sir Aneeq"
# print(teachername)
# allowed:bool=False
# uname : str="Sir Sohaib"
# uname="Abdullah"
# print(uname)
# allowed:bool=False
# print(allowed)
# allowed:bool=True
# print(allowed)

print("Muahammad Afnan")
print(True == 1)
print(False == 0)
print(True + False)
teachername = "Sir Aneeq" # Type hints are not enforced in Python runtime
print(teachername)
allowed = False # Type hints are not enforced in Python runtime
uname = "Sir Sohaib" # Type hints are not enforced in Python runtime
uname = "Abdullah"
print(uname)
allowed = False # Type hints are not enforced in Python runtime
print(allowed)
allowed = True # Type hints are not enforced in Python runtime
allowed

Muahammad Afnan
True
True
1
Sir Aneeq
Abdullah
False

True

In [ ]:
print(True == 1)
print(False == 0)
print(True + False)
teachername :str="Sir Aneeq"
print(teachername)
allowed:bool=False
uname : str="Sir Sohaib"
uname="Abdullah
print(uname)
allowed:bool=False
print(allowed)
allowed:bool=True
print(allowed)